
.el-dialog .el-dialog__footer {
    padding-left: 30px;
    padding-right: 50px;
}

.el-dialog .el-dialog__body {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 400px;
 }


.el-dialog .dialog-footer .el-button
{ 
    min-width: 100px;
}

.codepre{
    font-size: 30px;
}