.el-divider--vertical {
    margin-left: 0px;
    margin-right: 0px;
}

.el-divider--horizontal
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.el-divider-v-margin0{
    margin:0px;
}
.el-divider-h-margin0{
    margin:0px;
}